.content .banner-container{
	position:relative;
	border:1px solid #c0c0c0;
	border-top:0;
	overflow:hidden;
	margin-bottom:10px;
	max-width:958px;
	margin: 0 auto 10px auto;
	position:relative;	
	white-space:nowrap;
}

.banner-container .commands{
	position:absolute;
	left:20px;
	bottom:12px;	
}

.banner-container .commands .stop_and_play{
	display:none;
}

.banner-container .commands .stop_and_play.shown{
	display:block;
}

.banner-container .commands .button{
	display:inline-block;
	float:left;
	margin-right:10px;	
}

.banner-container .commands .button img{
	height:30px;
	width:30px;	
	cursor:pointer;
}

.content .banner-container .banner{			
	position:relative;	
	top:0;
	left:-100%;	
	width:100%;	
}

.content .banner-container .banner.no_banner{			
	left:0;
}


.banner-container .banner_holder{
	display:inline-block;
	margin-right:-4px;
	width:100%;
	position:relative;
	vertical-align:top;
}

.banner-container .banner_holder .text_content{
	width:48.2%;
	margin-right:5%;
	float:left;
	word-break:break-all;	
}

.banner-container .banner_holder .text_content .banner_subject{	
	overflow:hidden;
	font-size:2.5em;
	padding:10px 20px 0 20px;
	margin:40px 0 4px 0;
	font-weight:bold;
	white-space:normal;
	height:30px;
}

.banner-container .banner_holder .text_content .banner_content{
	white-space:normal;
	font-size:1.2em;
	padding:10px 20px 0 20px;
	font-weight:bold;
	height:40px;
	line-height:21px;
	overflow:hidden;
}


.content .banner-container img{
	width:46.8%;	
	float:right;
}

.lower_commands{
	display:none;
	text-align:center;
	margin:20px 0 20px 0;
}

.lower_commands .bullet{
	width:8px;
	height:7px;
	display:inline-block;
	cursor:pointer;
}

.lower_commands .bullet .on{
	display:none;
}

@media all and ( max-width: 767px ) {	
	.banner-container .banner_holder .text_content{
		width:100%;
		margin:0;
		float:none;					
	}
	
	.banner-container .commands{
		display:none;
	}
	
	.content .banner-container img{
		width:100%;	
		float:none;
	}
	
	.banner-container{		
		margin:0;
		border-left:0!important;
		border-right:0!important;
	}
	
	.banner-container .banner_holder .text_content .banner_subject{
		margin:0;
		width:80%;
		font-size:1.2em;
	}
	
	.banner-container .banner_holder .text_content .banner_content{
		padding:0 20px 20px 20px;		
		font-weight:normal;
		line-height:23px;
		height:70px;
		font-size:1.2em;		
	}
	
	.lower_commands{
		display:block;
	}
}