<?xml version="1.0"?>
<config>
	<id>theme gallery-3</id>
	<type>theme</type>
	<view>pc,mobile</view>
	<category>gallery</category>
	<name>
		<en>Gallery Theme No. 3</en>
		<ko>Gallery Theme No. 3</ko>
	</name>
	<demo>http://gallery3.philgo.net</demo>
	<version>0.1</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<short>
		<en>Gallery no. 3</en>
		<ko>Gallery no. 3</ko>
	</short>
	<detail>
		<en></en>
		<ko></ko>
	</detail>
	<menu>
		<top>
			<name>
				<en>Second Menu Group</en>
				<ko>두번째 메뉴 그룹</ko>
			</name>
			<max>10</max>
		</top>
		<left>
			<name>
				<en>Scrolling Menu ( Bottom )</en>
				<ko>왼쪽 메뉴</ko>
			</name>
			<max>30</max>
		</left>
		<right>
			<name>
				<en>Menu Right</en>
				<ko>오른쪽 메뉴</ko>
			</name>
			<max>0</max>
		</right>
		<bottom>
			<name>
				<en>Third Menu Group</en>
				<ko>세번째 메뉴 그룹</ko>
			</name>
			<max>6</max>
		</bottom>
	</menu>
</config>
